

.margen{
    text-decoration: underline;
    text-align: center;
}

#fondo{
   
    background-image: url('../imagenes/foto.png');
    background-size: cover;
    
}
.links{
    border-style: groove;
    border-color: blue;
    text-align: center;
}
a:link {   
    text-decoration: none; 
    color: coral;   
}

a:visited{
    color: coral;
}
a:hover {
    color: rgb(7, 196, 248); 
}
.descripcion{
    text-align: justify;
    
}
.fondo2{
    background-color: rgb(196, 225, 225);
}
h1{
    text-align: center;
}
.rsi{
   margin-left: 25cm;
}
.rst{
    margin-left: 2cm;
    margin-right: 2cm;
}
.container {
  display: flex;
  justify-content: center;
}

.car {
  margin-left: 25cm;
}
.estadio{
    margin-left: 27cm;
}

.fon{
    background-color: rgb(173, 208, 210);
}


body,  h3 {
    margin: 0;
    padding: 0;
}

/* Estilo para el body */
.contacto{
    font-family: Arial, sans-serif;
    
    color: #333;
}


.contacto {
    text-align: center;
    color: #4a4489; 
}


h2.links {
    text-align: center;
}





form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}


input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}


br {
    margin-bottom: 15px;
}
.fondofunda{
    background-color: rgb(161, 190, 198);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}


th {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: left;
}


td {
    border: 1px solid #ddd;
    padding: 10px;
}


tr:nth-child(odd) {
    background-color: #f9f9f9;
}


tr:hover {
    background-color: #61b073;
}
.fondonet{
    background-color: rgb(136, 195, 188);
}

.fondotenis{
    background-color: rgb(163, 230, 203);
}
.royer{
    margin-left: 450px;
}
.pelotas{
    margin-left: 100px;
}
.fondodetalle{
    background-color:  rgb(163, 230, 203);
}
span{
    margin-left: 10px;
}
